# Project exclude paths
/.gradle/
/Readability Score (Java)/task/build/
/Readability Score (Java)/task/build/classes/java/build/
/Readability Score (Java)/task/out/
/Readability Score (Java)/task/out/production/classes/
/Readability Score (Java)/task/out/test/classes/
/Topics/Arrays as parameters/A method taking an array/out/
/Topics/Arrays as parameters/A method taking an array/out/production/classes/
/Topics/Arrays as parameters/Application as a class/out/
/Topics/Arrays as parameters/Application as a class/out/production/classes/
/Topics/Arrays as parameters/Theory/out/
/Topics/Arrays as parameters/Theory/out/production/classes/
/Topics/Arrays as parameters/Varargs/out/
/Topics/Arrays as parameters/Varargs/out/production/classes/
/Topics/Branching statements/A keyword to terminate the loop/out/
/Topics/Branching statements/A keyword to terminate the loop/out/production/classes/
/Topics/Branching statements/Even or odd/out/
/Topics/Branching statements/Even or odd/out/production/classes/
/Topics/Branching statements/Statement for skipping an iteration/out/
/Topics/Branching statements/Statement for skipping an iteration/out/production/classes/
/Topics/Branching statements/The same results/out/
/Topics/Branching statements/The same results/out/production/classes/
/Topics/Branching statements/Theory/out/
/Topics/Branching statements/Theory/out/production/classes/
/Topics/Declaring a method/Calculating factorials/out/
/Topics/Declaring a method/Calculating factorials/out/production/classes/
/Topics/Declaring a method/The sign of a number/out/
/Topics/Declaring a method/The sign of a number/out/production/classes/
/Topics/Declaring a method/Theory/out/
/Topics/Declaring a method/Theory/out/production/classes/
/Topics/Iterating over arrays/Alphabetical order/out/
/Topics/Iterating over arrays/Alphabetical order/out/production/classes/
/Topics/Iterating over arrays/Find the sum/out/
/Topics/Iterating over arrays/Find the sum/out/production/classes/
/Topics/Iterating over arrays/Right Rotation/out/
/Topics/Iterating over arrays/Right Rotation/out/production/classes/
/Topics/Iterating over arrays/Sum array elements greater than a value/out/
/Topics/Iterating over arrays/Sum array elements greater than a value/out/production/classes/
/Topics/Iterating over arrays/Theory/out/
/Topics/Iterating over arrays/Theory/out/production/classes/
/Topics/Processing strings/
/Topics/Switch statement/A simple calculator/out/
/Topics/Switch statement/A simple calculator/out/production/classes/
/Topics/Switch statement/Harry Potter/out/
/Topics/Switch statement/Harry Potter/out/production/classes/
/Topics/Switch statement/Shape/out/
/Topics/Switch statement/Shape/out/production/classes/
/Topics/Switch statement/Test learners/out/
/Topics/Switch statement/Test learners/out/production/classes/
/Topics/Switch statement/Theory/out/
/Topics/Switch statement/Theory/out/production/classes/
/Topics/The while and do-while loops/Collatz conjecture/out/
/Topics/The while and do-while loops/Collatz conjecture/out/production/classes/
/Topics/The while and do-while loops/Determine the result/out/
/Topics/The while and do-while loops/Determine the result/out/production/classes/
/Topics/The while and do-while loops/Statements/out/
/Topics/The while and do-while loops/Statements/out/production/classes/
/Topics/The while and do-while loops/The length of the sequence/out/
/Topics/The while and do-while loops/The length of the sequence/out/production/classes/
/Topics/The while and do-while loops/Theory/out/
/Topics/The while and do-while loops/Theory/out/production/classes/